<div class="container">
  <div class="jumbtron">
    <h1 style="text-align:center">
      <strong>INSPIRING QUOTES</strong>
    </h1>
  </div>
  <div class="card card-image">
  </div>
  <h2><strong>Quotes on Life,Love and Success</strong></h2>
  <div>
    <ul>
      <li *ngFor='let quote of quotes'>
        {{quote.name}}
      </li>
    </ul>
  </div>
  <app-quote></app-quote>
  <div class="col-md-12">
    <div class="footer">
      <h3>Copyright &copy; 2019 INSPIRING. All right reserved</h3>
    </div>
  </div>

</div>





<!-- <h2>Here are some links to help you start: </h2> -->
<!-- <ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->

<!-- <router-outlet></router-outlet> -->