<!-- <p>quote-form works!</p> -->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2 class="text-center">You can post your quote here</h2>
            <hr>
            <div class="row mx-1">
                    <div class="col-md-12">
                            <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
                                    <div class="form-group">
                
                                        <label for="quote">write your quote here</label>
                                        <textarea class="form-control" id="quote" rows="4" [(ngModel)]="newQuotes.name" name="quote"
                                            #name='ngModel' required></textarea>
                                        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                                            <p>quote is required</p>
                                        </div>
                                    </div>
                
                                    <div class="form-group">
                
                                        <label for="author">Author</label>
                                        <input type="text" class="form-control" id="name" [(ngModel)]="newQuotes.author" name="author"
                                            #author='ngModel' required>
                                        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                                            <p>author's name required</p>
                                        </div>
                                    </div>
                                    <!-- Display {{newquotes.name}} -->
                                    <div class="form-group">
                
                                        <label for="writter">Writter Name</label>
                                        <input type="text" class="form-control" id="name" [(ngModel)]="newQuotes.writter" name="name"
                                            #writter='ngModel' required>
                                        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                                            <p>name is required</p>
                                        </div>
                                    </div>
                
                                    <div class="form-group">
                                        <label for="date">Posted Date</label>
                                        <input type='date' id="complete" [(ngModel)]="newQuotes.date" name="date"
                                            #completeDate='ngModel' required>
                                        <div [hidden]="completeDate.valid || completeDate.pristine" class="alert alert-danger">
                                            <p>date is required</p>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-success">Send</button>
                                </form>
                    </div>
              
            </div>

        </div>

    </div>

</div>